<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
</head>

<body onload='document.f.username.focus();'>
<h3>Login with Username and Password</h3>
<form name='f' action='/register' method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='username' value=''/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password' value=''/></td>
        </tr>
        <tr>
            <td>email:</td>
            <td><input type='text' name='email' value=''/></td>
        </tr>
        <tr>
            <td>authority:</td>
            <td><select name='authority'>
                <option value="ROLE_USER">USER</option>
                <option value="ROLE_TRAINER">TRAINER</option>
            </select></td>
        </tr>
        <tr>
            <td>fname:</td>
            <td><input type='text' name='firstName' value=''/></td>
        </tr>
        <tr>
            <td>lname:</td>
            <td><input type='text' name='lastName' value=''/></td>
        </tr>
        <tr>
            <td><input type='hidden' name='enabled' value='true'/></td>
        </tr>
        <tr>
            <td colspan='2'><input name="submit" type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>

</html>