<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Rooms</title>
</head>
<body>
ROOMS
<div>
<table>
    <tr th:each="room: ${rooms}">
        <td th:text="${room.getId()}"></td>
        <td th:text="${room.getArea()}"></td>
        <td>
            <a th:href="@{/services/rooms/apply(id=${room.getId()})}" sec:authorize="hasRole('TRAINER')">apply</a>
        </td>
    </tr>
</table>
</div>
<a href="/">Home</a>
<form name='f' sec:authorize="isAuthenticated()" action='/logout' method='POST'>
    <table>
        <tr>
            <td><input type='submit' name='Logout' value='Logout'/></td>
        </tr>
        <tr>
            <td><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></td>
        </tr>
    </table>
</form>
</body>
</html>