<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Rooms</title>
</head>
<body>
ROOMS
<div>
<table>
    <tr th:each="room: ${rooms}">
        <td th:text="${room.getId()}"></td>
        <td th:text="${room.getArea()}"></td>
        <td>
            <a href="/services/rooms/apply" sec:authorize="hasRole('TRAINER')">apply</a>
        </td>
    </tr>
</table>
</div>
<a href="/">Home</a>
<a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
</body>
</html>