<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Rooms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
</head>
<body>
ROOMS
<div>
    <table class="table-bordered">
        <tr>
            <td>Id</td>
            <td>Area</td>
            <td>Bookings</td>
        </tr>
        <tr th:each="room: ${rooms}">
            <td th:text="${room.getId()}"></td>
            <td th:text="${room.getArea()}"></td>
            <td><table>
                <tr th:each="roomRequest :${roomRequests}">
                    <td th:if="${roomRequest.getRoom().getId().equals(room.getId())}">
                        <div>
                            <p th:text="${roomRequest.getStartTime()}"></p>
                            <p th:text="${roomRequest.getEndTime()}"></p>
                        </div>
                    </td>
                </tr>
            </table></td>
            <td>
                <form sec:authorize="hasRole('TRAINER')" name='f' th:action="@{/services/rooms/apply}" method='GET'>
                    <table>
                        <td>
                            <input type='hidden' name='id' th:value="${room.getId()}"/>
                        </td>
                        <td>
                            <input type='datetime-local' name='start'/>
                        </td>
                        <td>
                            <input type='datetime-local' name='end'/>
                        </td>
                        <td>
                            <input name="submit" type="submit" value="apply"/>
                        </td>
                        <td>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </td>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</div>
<div sec:authorize="hasRole('ADMIN')">
    <br/>
    ADD ROOM
    <form name='f' action='/services/rooms/create' method='POST'>
        <table>
            <tr>
                <td>Room Area: </td>
                <td><input type='number' name='area' value=''/></td>
            </tr>
            <tr>
                <td colspan='2'><input name="submit" type="submit" value="Add"/></td>
            </tr>
            <tr>
                <td><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></td>
            </tr>
        </table>
    </form>
</div>
<br/>
<a href="/">Home</a>
<form name='f' sec:authorize="isAuthenticated()" action='/logout' method='POST'>
    <table>
        <tr>
            <td><input type='submit' name='Logout' value='Logout'/></td>
        </tr>
        <tr>
            <td><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></td>
        </tr>
    </table>
</form>
<p th:if="${error}" class="text-danger">ERROR TIME OVERLAPPING</p>
</body>
</html>