<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Trainers</title>
</head>
<body>
TRAINERS
<table>
    <tr th:each="trainer: ${trainers}">
        <td th:text="${trainer.getId()}"></td>
        <td th:text="${trainer.getFirstName()}"></td>
        <td th:text="${trainer.getLastName()}"></td>
        <td><a href="/services/trainers/apply" sec:authorize="hasRole('USER')">apply</a></td>
    </tr>
</table>
<a href="/">Home</a>
<a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
</body>
</html>